# Node modules
node_modules/
server/node_modules/

# TypeScript build info
*.tsbuildinfo

# Build output
dist/
build/
server/dist/
public/bundle.js
public/bundle.js.LICENSE.txt
public/index.html
public/

# Environment files
.env
.env.*
.env.local
.env.production
server/.env

# OS-specific files
.DS_Store
Thumbs.db

# SSH Keys
*.pem
*.ppk

# GitHub Actions secrets
secrets/
